{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Аня!</h1>
<p>
  Я ещё учусь на Python-разработчика в «Яндекс Практикум». Пока что я мало, что умею, но этот текст написать могу.
</p>
  <p>Вот <a href="https://github.com/AnnPovor"> тут</a> мой аккаунт в Github. Там немного работ, но уже что-то есть.</p>
  <p>Мой путь в мир программирования максимально простой: поняла, что в IT можно бесконечно много расти и развиваться, проанализировала свои возможности, а потом поступила в "Яндекс Практикум".</p>
  <p>Я ещё планирую дописать этот текст, когда появятся интересные идеи</p>
{% endblock %}
